<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
html{zoom: 0.7;}
span.cls_002{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Times,serif;font-size:12.1px;color:rgb(17,84,204);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_010{font-family:Times,serif;font-size:12.1px;color:rgb(17,84,204);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
</style>
<!-- <script type="text/javascript" src="2a062e8c-8ec2-11ea-8b25-0cc47a792c0a_id_2a062e8c-8ec2-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script> -->
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:936px;border-style:none;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="https://i.ibb.co/MRPGLSh/background1.jpg" width="100%" height="100%"></div>
<div style="position:absolute;left:166.56px;top:11.00px" class="cls_002"><span class="cls_002">KEMENTERIAN PENDIDIKAN DAN KEBUDAYAAN</span></div>
<div style="position:absolute;left:231.06px;top:30.26px" class="cls_003"><span class="cls_003">UNIVERSITAS TRUNOJOYO MADURA</span></div>
<div style="position:absolute;left:272.31px;top:46.76px" class="cls_004"><span class="cls_004">FAKULTAS PERTANIAN</span></div>
<div style="position:absolute;left:213.06px;top:63.00px" class="cls_005"><span class="cls_005">Jalan Raya Telang, PO BOX 2 Kamal, Bangkalan-Madura</span></div>
<div style="position:absolute;left:233.31px;top:77.25px" class="cls_005"><span class="cls_005">Telepon (031) 3011146, Faksimile (031) 3011506</span></div>
<div style="position:absolute;left:284.31px;top:91.50px" class="cls_005"><span class="cls_005">Laman </span><A HREF="http://www.trunojoyo.ac.id/">www.trunojoyo.ac.id</A> </span></div>
<div style="position:absolute;left:489.81px;top:120.00px" class="cls_007"><span class="cls_007">Form <%= mahasiswa.form %>-<%= mahasiswa.noUrut+1 %></span></div>
<div style="position:absolute;left:70.56px;top:144.00px" class="cls_005"><span class="cls_005">Nomor</span></div>
<div style="position:absolute;left:126.81px;top:144.00px" class="cls_005"><span class="cls_005">:  <%= mahasiswa.no_surat %></span></div>
<div style="position:absolute;left:489.81px;top:144.00px" class="cls_005"><span class="cls_005"><%= mahasiswa.tgl_pelaksanaan%></span></div>
<div style="position:absolute;left:70.56px;top:158.25px" class="cls_005"><span class="cls_005">Lampiran</span></div>
<div style="position:absolute;left:126.81px;top:158.25px" class="cls_005"><span class="cls_005">:  Satu berkas</span></div>
<div style="position:absolute;left:70.56px;top:172.50px" class="cls_005"><span class="cls_005">Hal</span></div>
<div style="position:absolute;left:126.81px;top:172.50px" class="cls_005"><span class="cls_005">:  Undangan <%= mahasiswa.jenis_kegiatan %></span></div>
<div style="position:absolute;left:70.56px;top:215.25px" class="cls_005"><span class="cls_005">Yth.</span></div>
<div style="position:absolute;left:70.56px;top:229.50px" class="cls_005"><span class="cls_005">………………………………………………..…</span></div>
<div style="position:absolute;left:70.56px;top:243.75px" class="cls_005"><span class="cls_005">Dosen Fakultas Pertanian Universitas Trunojoyo Madura</span></div>
<div style="position:absolute;left:70.56px;top:286.50px" class="cls_005"><span class="cls_005">Mengharap  kehadiran  Bapak/Ibu  dosen  pembimbing/penguji,  pada  pelaksanaan  <%= mahasiswa.jenis_kegiatan %> mahasiswa :</span></div>
<!-- <div style="position:absolute;left:70.56px;top:303.00px" class="cls_005"><span class="cls_005"></span></div> -->
<div style="position:absolute;left:70.56px;top:333.75px" class="cls_005"><span class="cls_005">Nama</span></div>
<div style="position:absolute;left:178.56px;top:333.75px" class="cls_005"><span class="cls_005">: <%= mahasiswa.nama_mahasiswa %></span></div>
<div style="position:absolute;left:70.56px;top:350.25px" class="cls_005"><span class="cls_005">NPM</span></div>
<div style="position:absolute;left:178.56px;top:350.25px" class="cls_005"><span class="cls_005">:</span></div>
<div style="position:absolute;left:187.56px;top:350.25px" class="cls_005"><span class="cls_005"><%= mahasiswa.nim %></span></div>
<div style="position:absolute;left:70.56px;top:366.75px" class="cls_005"><span class="cls_005">Program Studi</span></div>
<div style="position:absolute;left:178.56px;top:366.75px" class="cls_005"><span class="cls_005">: <%= mahasiswa.nama_program_studi %></span></div>
<div style="position:absolute;left:70.56px;top:383.25px" class="cls_005"><span class="cls_005">Judul</span></div>
<div style="position:absolute;left:178.56px;top:383.25px" class="cls_005"><span class="cls_005">: <%= mahasiswa.judul %></span></div>
<div style="position:absolute;left:70.56px;top:430.50px" class="cls_005"><span class="cls_005">Yang dilaksanakan pada :</span></div>
<div style="position:absolute;left:70.56px;top:461.25px" class="cls_005"><span class="cls_005">Hari</span></div>
<div style="position:absolute;left:178.56px;top:461.25px" class="cls_005"><span class="cls_005">:  <%= mahasiswa.hari %></span></div>
<div style="position:absolute;left:70.56px;top:477.75px" class="cls_005"><span class="cls_005">Tanggal</span></div>
<div style="position:absolute;left:178.56px;top:477.75px" class="cls_005"><span class="cls_005">:</span></div>
<div style="position:absolute;left:187.89px;top:477.75px" class="cls_005"><span class="cls_005"><%= mahasiswa.tgl_pelaksanaan %></span></div>
<div style="position:absolute;left:70.56px;top:494.25px" class="cls_005"><span class="cls_005">Pukul</span></div>
<div style="position:absolute;left:178.56px;top:494.25px" class="cls_005"><span class="cls_005">:</span></div>
<div style="position:absolute;left:187.89px;top:494.25px" class="cls_005"><span class="cls_005"><%= mahasiswa.jam %> WIB</span></div>
<div style="position:absolute;left:70.56px;top:510.75px" class="cls_005"><span class="cls_005">Tempat</span></div>
<div style="position:absolute;left:178.56px;top:510.75px" class="cls_005"><span class="cls_005">:</span></div>
<div style="position:absolute;left:187.89px;top:510.75px" class="cls_005"><span class="cls_005">-</span></div>
<div style="position:absolute;left:70.56px;top:538.50px" class="cls_005"><span class="cls_005">Atas perhatian dan kehadiran Bapak/Ibu, disampaikan terima kasih.</span></div>
<div style="position:absolute;left:360.81px;top:583.50px" class="cls_005"><span class="cls_005">a.n. Wakil Dekan I</span></div>
<div style="position:absolute;left:360.81px;top:597.75px" class="cls_005"><span class="cls_005">Kabag. Tata Usaha,</span></div>
<div style="position:absolute;left:360.81px;top:645.75px" class="cls_005"><span class="cls_005">Nurhayati, SE. MM</span></div>
<div style="position:absolute;left:360.81px;top:660.00px" class="cls_005"><span class="cls_005">NIP 19700203 200112 2 001</span></div>
</div>

</body>
</html>
